@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');

body {
	font-family: 'Work Sans', sans-serif;
    font-weight: 300;
	width: 100%;
	height: 100vh;
}
