@import './vars';

.container {
  width: 100%;
  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 768px;
    height: 100svh;

    display: grid;
    align-content: center;
    justify-items: center;

    background-color: var(#{--main-bg-default});
    color: var(#{--color-default});

    .calc {
      margin: 268px 20px 66px 20px;

      .last_case,
      .answer {
        display: flex;
        justify-content: end;
      }

      .last_case {
        font-size: 36px;
        opacity: 0.4;
      }

      .answer {
        font-size: 96px;

        &__small_num{
          font-size: 96px;
        }

        &__medium_num{
          font-size: 72px;
        }

        &__large_num{
          font-size: 60px;
        }

        &__xlarge_num{
          font-size: 48px;
        }
      }

      .buttons {
        display: grid;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(5, 72px);
        gap: 16px;

        font-size: 32px;

        margin-top: 16px;

        .btn {
          font-weight: inherit;
          color: inherit;

          border: none;
          border-radius: 24px;

          padding: 12px;

          background-color: var(#{--btn-bg-default});

          cursor: pointer;

          &__primary_color {
            background-color: var(#{--btn-bg-primary});

            color: var(#{--color-dark});
          }

          &__secondary_color {
            background-color: var(#{--secondary-btn-bg-default});
          }

          &__with_svg {
            padding: 20px 0px;
          }

          & > svg > g {
            .svg__fill_color {
              fill: var(--svg-default);
            }
          }
        }
      }
    }
  }
}
