.switch {
  position: relative;
  width: 60px;
  height: 32px;

  display: flex; 
  align-items: center;
  justify-content: end;

  background-color: #2E2F38;

  border-radius: 32px;

  padding: 0px 4px;

  cursor: pointer;

  transition: 0.5s all;

  &:before {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 4px;

    margin: 0px 4px;

    background: #D2D3DA;

    transition: 300ms all;
    transform: translate(0, -50%);
    
    content: '';

    border-radius: 35px;
  }
}

.inp {
  opacity: 0;
  position: absolute;

  &:checked + .switch {
    background-color: #FFF;

    justify-content: start;

    &:before {
      transform: translate(32px, -50%);
    }
  }
}
