$color-dark: #fff;
$color-light: #000;

$main-bg-dark: #17171C;
$main-bg-light: #F1F2F3;

$btn-bg-dark: #2E2F38;
$btn-bg-light: #fff;

$secondary-btn-bg-dark: #4E505F;
$secondary-btn-bg-light: #D2D3DA;

$btn-bg-primary: #4B5EFC;

$svg-dark: #fff;
$svg-light: #000;


:root{
    --btn-bg-dark: #{$btn-bg-dark};
    --btn-bg-light: #{$btn-bg-light};
    --btn-bg-default: var(#{--btn-bg-dark});

    --btn-bg-primary: #{$btn-bg-primary};

    --secondary-btn-bg-dark: #{$secondary-btn-bg-dark};
    --secondary-btn-bg-light: #{$secondary-btn-bg-light};
    --secondary-btn-bg-default: var(#{--secondary-btn-bg-dark});

    --main-bg-dark: #{$main-bg-dark};
    --main-bg-light: #{$main-bg-light};
    --main-bg-default: var(#{--main-bg-dark});

    --color-dark: #{$color-dark};
    --color-light: #{$color-light};
    --color-default: var(#{--color-dark});

    --svg-dark: #{$svg-dark};
    --svg-light: #{$svg-light};
    --svg-default: var(#{--svg-dark});
}
